<h1>Expenses: </h1>
<div *ngIf='expenses.length > 0'>

  <form [formGroup]="selectCategory">
    Filter by category
    <select formControlName="category" (change)="onSelect($event)" >
      <option hidden [value]="" selected></option>
      <option *ngFor="let category of categories" #category>{{category}}</option>
    </select>
  </form>

  <table id="expense-table">
    <thead>
      <tr>
        <th>Expense</th>
        <th>Amount</th>
        <th>Category</th>
      </tr>
    </thead>
    <tr *ngFor="let expense of expenseTableRows">
      <td>{{expense.name}}</td>
      <td>{{expense.amount}}</td>
      <td>{{expense.category}}</td>
    </tr>
  </table>
<div>
