<mat-dialog-content>

    <mat-form-field>
        <input  matInput
                placeholder="Add category"
                matInput [(ngModel)]="data.category">
    </mat-form-field>
    <div *ngIf="data.categories.length !== 0">
      <p>Categories: </p>
      <ul *ngFor="let category of data.categories">
        <li>{{category}} <button type="button" (click)="deleteCategory(data.categories.indexOf(category))"><img src="../assets/trashcan-icon.png" width="15px" alt=""></button></li>
      </ul>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <!-- <button class="mat-raised-button"(click)="close()">Close</button> -->
    <button class="mat-raised-button mat-primary" [mat-dialog-close]="data.category">Save</button>
</mat-dialog-actions>
