<main  class="display-flex">
  <div >
    <app-set-budget></app-set-budget>
    <app-add-expense></app-add-expense>
  </div>
  <div>
      <app-balance></app-balance>
      <app-expense-list></app-expense-list>
  </div>
</main>
