<app-category (categoryList)=categoryListHandler($event)></app-category>
<div class="expense">
  <h1>Add an expense</h1>
  <form [formGroup]="expenseForm" class="expense-form" action="index.html" method="post">
    Expense Name: <input formControlName="expense" #expenseName type="text">
    Amount: <input formControlName="amount" #expenseAmount type="text">
    Category:
    <select formControlName="category" #expenseCategory required>
       <option hidden [value]="" selected></option>
       <option *ngFor="let category of categories">{{category}}</option>
    </select>
    <br>
    <button id="expense-button" type="submit" (click)="onSubmit(expenseName.value, expenseAmount.value, expenseCategory.value)">
      Save Expense</button>
  </form>
  <h2>Total expenses: {{ totalExpenses }}</h2>
</div>
