
<div class="budget">
  <h1>Set your budget</h1>
  Budget: <input type="text" #newBudget [formControl]="budgetControl">
  <button (click)="setBudget(newBudget.value)">Calculate</button>
  <h2>Total Budget: {{ budget }} </h2>
</div>
